.about {
    display: flex;
    flex-direction: column;
    align-items: center;
		color: white;
		height: 100%;
}

.about a {
  color: green;
  text-decoration: none;
}

.title {
	width: 100%;
	text-align: center;
	padding-bottom: 0.1em;
	background-color: white;
	color: black;
}