.list {
	position: relative;
	display: flex;
	flex-direction: column;	
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
}

.list_titulo {
	position: sticky;
	top: 0;
	text-align: center;
	background-color: white;
	color: black;
	width: 100%;
	margin: 0;
	padding-bottom: 0.1em;
}

.list_cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
	margin-bottom: 3em;
	width: 100%;
}