.nav {
	display: flex;
	justify-content: center;	
	height: 100%;
	width: 100%; 
  align-items: center;
  background-color: black;
	padding: 1em;
	border-bottom: 1px solid white;
}

.nav_links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav_links a {
	color: white;
  text-decoration: none;
}

.nav_links li {
  margin: 0em 1em;
}